* {
  padding: 0;
  margin: 0;
  font-family: Inq,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-container {
  width: 100vw;
}

.login-form {
  margin-top: 4rem;
  width: 60%vw;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  text-align: center;
}



.btn-primary {
  background-color: #f35a57 !important;
  border-color: #f35a57 !important;
  width: 100%;
  height: 3.5rem !important;
}

.register-form {
  margin-top: 4rem;
  width: 60%vw;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.register-title {
  text-align: center;
}

